body {
    background-color: pink;
}

#encabezado {
    background-color: rgb(230, 188, 5);
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px;
    margin: 10px;
}

@media (max-width: 767px) {
    body {
        background-color: lightblue;
    }

    #encabezado {
        font-size: 10px;
    }
}

/* Pantallas de TV */
@media (min-width: 2048px) {
    body {
        background-color: rgb(0, 0, 0);
    }

    #encabezado {
        font-size: 100px;
    }
}