body {
            background-color: rgba(141, 36, 28, 0.973);
            font-size: 20px;
            color: #ffffff;
            background-color: blue, darkblue, gray;
        }
 
s        h1 {
            color: cyan;
            font-size: 3rem;
        }
 
        #nombre {
            color: yellow;
            font-size: 2rem;
            width: 200px;
            height: 200px;
            background-color: #000;
            text-align: center;
            display: block;
            margin: 0px auto;
        }
 
        #logo {
            width: 200px;
        }
.listasparasurtir {
    width: 100%;
    height: 200px;
    background-color: green;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}
    .listasparasurtir p {
        color: wheat;
        font-size: 2rem;
        text-align: center;
    }

    .listasparasurtir:hover {
        background-color: red;
        font-size: 50px;
    }

    .listasparasurtir p {
        font-size: 50px;
    }

    